/* Your app styles here */
.panel-left .page-content {
	padding-top: 0 !important;
}

.panel-left .item-inner {
	justify-content: flex-start;
}

.panel-left .item-inner .f7-icons, .panel-left .item-inner .icon {
	margin-right: 10px;
}

.navbar {
	background-color: #795548  !important;
}

.dashboard-cards .card .card-header .icon, .dashboard-cards .card .card-header img {
	height: 70px;
	font-size: 70px;
	margin: 0 auto;
	color: black;
}

.dashboard-cards .card .card-content {
	text-align: center;
	font-size: 1.5rem
}